Thumbs.db
.AppleDouble
*.suo
OldGui
FinanceToolsDB
*.tmp
FinanceTools/packages/*
FinanceTools/bin/*
HoursTrackerIntegration
KC7764
KCState
scholarship
StPhilipNight
/trelloTracker
/FinanceToolsDB2
/fusioncharts
.vs/
