#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}

.recordDetail {
    padding: 20px;
    position: relative;
    background: #fff;
    margin: 20px 25% 0px 40px;
}

.statistics {
    background: linear-gradient(to right,#d9edf7,white,white);
    font-size: large;
    font-weight: bold;
}

    .statistics .observed-statistics {
        background-color: #d9edf7;
        border: 2px solid #aed3e5;
    }

    .statistics .all-statistics {
        background-color: #d9edf7;
        border: 2px solid #aed3e5;
    }

div.callout {
    border-bottom: 1px #aed3e5 solid;
}

span.callout {
    border-bottom: 2px #7daec6 solid;
}

.row.oddInfo {
    background-color: #fff;
    font-family: Cambria;
    padding-top: 5px;
    padding-bottom: 5px;
}

.row.info div{
    background-color: #d9edf7;
    font-family: Cambria;
    padding-top: 3px;
    padding-bottom: 3px;
}

.row.info2 {
    background-color: #aed3e5;
}

.row.info3 {
    background-color: #FFF;
}

div.header span {
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: 3px solid lightgray;
    font-family: Cambria;
}

span.accounting {
    font-family: 'Lucida Console';
}

.row div.noColor {
    background-color: #fff;
    padding:0px;
    margin:0px;
}

span.sectionLabel {
    font-size:1.3em;
    font-weight:bolder;
    border-bottom:2px solid black;

}

div.footer {
    font-size:1.2em;
    font-weight:bold;
    font-family:Cambria;
}
